/* 
    Document   : pdm-jcard
    Created on : 29.01.2012, 11:01:11
    Author     : Kondrat
    Description:
        jcard - jobcards classes
*/
table.jcard-mainTable{
    border-collapse: collapse;
    border: 2px solid black;
}
table.innerTable{
    margin: 0;
    padding: 0;
}
table.jcard-innerTable td{
    border: 1px solid black;
}
table tr.jcard-manufPart td{
    background-color: lightgray;
}


