/* 
    Document   : pdm-item
    Created on : 29.01.2012, 11:01:11
    Author     : Kondrat
    Description:
        it - item classes
*/
.item-newItemNbr{
    background-color: #EEEEEE;
    float: left;
    font-size: large; 
    position: relative;
}
.item-addNewItemNbr{
    font-size: smaller;
    margin: 0 10px;
    padding: 3px;
    width: 50px;
}
.item-addNewItemName{
    width: 500px;
}
.item-drwNumberCounter{
    color: gray;
    font-style: italic;
    font-weight: normal;
    position: absolute;
    right: -15px;
    top: 0;
}
.item-drwNbrTipOver{
    color: red;
}

.item-pletter{
    font-size: smaller;
}
.item-pletter select{
    font-weight: bold;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

form div.moretest{
    float: left;
}
form div.moretest2{
    float: left;
    clear: none;
    margin-left: 12px;
}
form div.wrap{
    float: left;
    width: 600px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.hideMe{
    display: none;
}
.hasChildNode{
    text-decoration: underline;
    cursor: pointer;
}
.hideNode{
    color: red;
}


